[Desktop Entry]
Encoding=UTF-8
Name=Fakran Wallet
Comment=Fakran wallet
Exec=fakranwallet
Terminal=false
Type=Application
Icon=fakranwallet
MimeType=x-scheme-handler/fakranwallet;
Categories=Office;Finance;
